body {
    background: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#container {
    border: 2px solid black;
    border-radius: 50px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px;
    background-color: #333;
    width: 260px; 
}

.footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    padding: 10px; 
    color: black; 
    box-sizing: border-box; 
    margin-top: 80px; 
    flex-direction: column; 
}

#history {
    width: 100%; 
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-align: right;
    margin-bottom: -5px;
    background-color: #333;
    box-sizing: border-box; 
}

#answer {
    width: 100%; 
    font-size: 30px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #222;
    color: white;
    text-align: right;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; 
}

button {
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.row-1 {
    background-color: #444;
}

.col-4 {
    grid-column: span 1;
    background-color: orange;
}

#zero {
    grid-column: span 2; 
}