body {
    background: black;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

}

#container {
    border: 2px solid blanchedalmond;
    border-radius: 10px;
    color: white;
    text-align: center;
    align-items: center;
    
}